In [2]:
from os import path as op
import pandas as pd 
import janitor
import pandas_flavor as pf
from defaults import static

In [8]:
df = pd.read_excel(op.join(static, 'meg_covariates.xlsx'), sheet_name='mmn')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 116 entries, 0 to 115
Data columns (total 32 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   subjId            116 non-null    object
 1   examDate          116 non-null    datetime64[ns]
 2   badCh             116 non-null    object
 3   ecg               116 non-null    object
 4   samplingRate      114 non-null    float64
 5   acq               116 non-null    int64
 6   sss               116 non-null    int64
 7   rejection         116 non-null    int64
 8   epoching          116 non-null    int64
 9   complete          116 non-null    int64
 10  behavioral        116 non-null    int64
 11  simmInclude       116 non-null    int64
 12  ses               116 non-null    float64
 13  age               116 non-null    int64
 14  gender            115 non-null    object
 15  headSize          114 non-null    float64
 16  maternalEdu       115 non-null    float64
 17  maternalHscore    115 non-null    float64
 18  paternalEdu       114 non-null    float64
 19  paternalHscore    114 non-null    float64
 20  maternalEthno     115 non-null    object
 21  paternalEthno     114 non-null    object
 22  nSibs             116 non-null    int64
 23  sib1dob           57 non-null     datetime64[ns]
 24  sib1gender        57 non-null     object
 25  sib2dob           18 non-null     datetime64[ns]
 26  sib2gender        18 non-null     object
 27  sib3dob           5 non-null      datetime64[ns]
 28  sib3gender        5 non-null      object
 29  birthWeight(lbs)  116 non-null    object
 30  birthWeight       116 non-null    int64
 31  notes             15 non-null     object
dtypes: datetime64[ns](4), float64(7), int64(10), object(11)
memory usage: 29.1+ KB

In [10]:
covars = (
    pd.read_excel(op.join(static, 'meg_covariates.xlsx'), sheet_name='mmn')
    .clean_names()
    .select_columns(['subjid', 'ses', 'age', 'gender', 'headsize',
                    'maternaledu', 'paternaledu', 'maternalethno', 'paternalethno'])
    .rename_columns({'subjid': 'id'})
    .
    
    
)
covars.head()

,subjid,ses,age,gender,headsize,maternaledu,paternaledu,maternalethno,paternalethno
0,101,41.0,108,F,40.0,17.0,16.0,White-Not Hispanic/Latino,White-Not Hispanic/Latino
1,102,22.0,115,F,42.0,16.0,15.0,White-Not Hispanic/Latino,White-Not Hispanic/Latino
2,103,45.0,112,M,43.0,14.0,12.0,Asian/Pacific islander/white-not Hispanic/Latino,White-Not Hispanic/Latino
3,104,46.5,119,M,42.0,19.0,14.0,Asian/Pacific Islander and Hispanic/Latino and...,White-Not Hispanic/Latino
4,105,43.0,113,F,42.0,19.0,14.0,Hispanic/Latino,Hispanic/Latino